@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap'); */

body {
    margin: 0;
    padding: 0;
    font-family: 'Share Tech', sans-serif;
    /* font-family: 'Playfair Display SC', serif; */
}

.VueCarousel{
    position: relative;
}
.carrossel .VueCarousel-wrapper{
    position: absolute;
    height: 700px;
}

.VueCarousel .VueCarousel-navigation-prev{
    position: absolute;
    left: 200px;
    color: #fff;
    font-size: 60px;
}
.VueCarousel .VueCarousel-navigation-next{
    position: absolute;
    right: 200px;
    color: #fff;
    font-size: 60px;
}

.VueCarousel .VueCarousel-pagination{
    position: relative;
    top: -120px;
}

.carrossel .VueCarousel .VueCarousel-pagination{
    position: absolute;
    top: 500px;
  }

  .autores .VueCarousel .VueCarousel-dot-container{
    display: flex;
    flex-direction: column;
    right: 0;
    position: absolute;
    bottom: 5px;
    margin: 0;
}
.autores .VueCarousel .VueCarousel-dot-container .VueCarousel-dot{
    margin-bottom: -30px;
}